.container-box {
  flex-grow: 1;
  height: 100%;
  overflow: auto;
  scrollbar-width: thin;
  font-size: 14px;
  /* scrollbarColor: '#888 #f1f1f1' */
  /* scrollbarWidth: 'thin'; */

  .controls-header {
    height: 4rem;
    width: 100%;
    background-color: #009877;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    gap: 10px;

    h2 {
      margin: 0;
    }
  }

  .btn-zone {
    font-size: 14px;
    background: #FFFFFF;
    border-radius: 6px;
    padding: 4px 0px;
    cursor: pointer;
    text-align: center;
    width: 40%;
  }

  .accordion-box {
    background-color: hsla(0, 0%, 100%, 0) !important;
    border-radius: 0 !important;

    .accordion-title {
      display: flex;
      align-items: center;
      gap: 1rem;
    }
  }
}

.css-eqpfi5-MuiAccordionSummary-content.Mui-expanded {
  margin: 12px 0 !important;
}

.css-1edfpdg-MuiTypography-root {
  font-size: 14px !important;
}

