.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  .modal-content {
    background: white;
    padding: 25px;
    border-radius: 8px;
    width: 75%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1001;

    .title {
      text-align: center;
      border-bottom: 1px solid #474343;

      h2 {
        margin: 0;
        margin-bottom: 15px;
      }
    }

    .container {
      .subtitle {
        margin: 10px 0;
        font-size: 17px;
        text-align: center;
      }

      .cart {
        background-color: #2da18e;
        color: white;
        padding: 10px;
        border-radius: 6px;
      }
    }
  }

  .color-tab {
    color: #2da18e;
  }

  .pointer {
    cursor: pointer;
  }
}
